.error-message-container {
  text-align: center;
  padding: 8rem 0;
}

.error-message-fullscreen {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message-text {
  color: var(--color-error);
  font-size: 2.25rem;
  font-weight: 700;
}
