.extended-future-section {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 1rem;
  flex: 1;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .extended-future-section {
    gap: 0.1rem;
  }
}
